.catigories-container{
    width: 100%;
    margin: 0;padding: 0;
}
.home-loat{
    width: 1400px;
    margin: 0 auto;
    padding: 0;
}
.laout-menu{
    font-family: sans-serif;
    font-size: 14px;
    font: optional;
}/* Catigories.css */
.demo-logo-vertical {
    display: none; /* Default to hide image */
  }
  
  .home-title {
    display: block; /* Default to show title */
  }
  
  .home-title img {
    display: none; /* Hide image when home-title is visible */
  }
  
  /* Media query to adjust the layout when the Sider is collapsed */
  .ant-layout-sider-collapsed .home-title {
    display: none; /* Hide title when collapsed */
  }
  
  .ant-layout-sider-collapsed .demo-logo-vertical {
    display: block; /* Show image when collapsed */
    width: 50px; /* Adjust size as needed */
    height: auto; /* Maintain aspect ratio */
  }
  