
#customers {
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #0051ff;
    color: white;}
    .edit-btn{
        margin-left: 30px;
    }
    .delet-btn{
        margin-left: 30px;
    }
    .laout-menu{
        font-family: sans-serif;
        font-size: 14px;
        font: optional;
    }
    .demo-logo-vertical {
      display: none; /* Default to hide image */
    }
    
    .home-title {
      display: block; /* Default to show title */
    }
    
    .home-title img {
      display: none; /* Hide image when home-title is visible */
    }
    
    /* Media query to adjust the layout when the Sider is collapsed */
    .ant-layout-sider-collapsed .home-title {
      display: none; /* Hide title when collapsed */
    }
    
    .ant-layout-sider-collapsed .demo-logo-vertical {
      display: block; /* Show image when collapsed */
      width: 50px; /* Adjust size as needed */
      height: auto; /* Maintain aspect ratio */
    }
    